<h1>Signup</h1>

<% if @user.errors.any? %>
    <div id="error_explanation" style="color:red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for @user do |f| %>
  <%= f.label :username%>
  <%= f.text_field :username %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <%= f.submit "Sign up"%>
<% end %>
