<p id="notice"><%= notice %></p>

<h1>Select Images</h1>



<%= form_tag("/images/select", method: 'delete' ) do %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Caption</th>
      </tr>
    </thead>

    <tbody>
      <% @images.each do |image| %>
          <td><%= check_box_tag(image.id) %></td>
          <td><%= image.title %></td>
          <td><%= image.caption %></td>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= submit_tag "Delete selection" %>
<% end %>

<%= link_to 'Cancel', images_path %>
