<!DOCTYPE html>
<html>
  <head>
    <title>PhotoRepo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if !!session[:user_id] %>
        <% @user = User.find(session[:user_id]) %>
        <%= link_to(@user.username, user_path(@user)) %>
      <% else %>
        <%= link_to("Login", login_path) %>
      <% end%>
    </header>

    <%= yield %>

    <footer>

    </footer>
  </body>
</html>
